body
{
background-color:powderblue;
}
h1
{
color:BLUE;
position: absolute;
top:10%;
left:65%;
font-family:Lucida Handwriting;
font-size:50px;
}
img
{
display:block;   /*for center the image*/
margin-left:auto;
margin-right:55%;
margin-top:7%;
}
h2
{
font-size:30px;
top:30%;
left:50%;
position:absolute;
input
{
width:300px;
padding: 10px;
}
button
{
background-color:green;
font-size:20px;
left:63%;
top:85%;
position:absolute;
}
}
#message
{
color:red;
font-weight:bold;
}









/*h4
{
top:60%;
left:50%;
position:absolute;
}*/